doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title jQuery Basics
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 One
    h2 Two
    h3 Three
    p P-tag

    input#tb1(type='text')

    button#btn Click Me!
    button#btn2 Click again!
    button#btn3 Click!
    button#btn4 Click please!
    button#btn5 Click please again!
    button#btn6 button 6
    button#btn7 change h3color!


    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
